.profile {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 320px;

  box-shadow: 2px 0px 3px 2px rgb(0 0 0 / 10%), 0px 2px 2px rgb(0 0 0 / 8%),
    2px 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  height: 320px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid rgb(77, 77, 77);

  overflow: hidden;
}

.name {
  font-size: 26px;
  font-weight: 600;
  color: rgb(53, 53, 53);
}

.tag,
.location,
.label {
  color: rgb(114, 114, 114);
}

.stats {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  background-color: rgba(240, 240, 240, 0.575);
  border-top: 1px solid rgb(196, 196, 196, 0.8);
}

.item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 33%;
}
.item:not(:last-child) {
  border-right: 1px solid rgb(196, 196, 196, 0.8);
}

.quantity {
  font-size: 18px;
  font-weight: 600;
  color: rgb(53, 53, 53);
}
